.calculadora {
  display: block;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  width: 250px;
  height: 400px;
  background-color: rgb(19, 226, 233);
  border-radius: 15px;
}
.calculadora td button {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 30px;
  margin-top: 10px;

  border-radius: 10px;
  background-color: rgb(224, 223, 220);
}
#resultado {
  display: block;
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
  width: 200px;
  height: 60px;
  background-color: aliceblue;
  border-radius: 10px;
}
#igual {
  width: 200px;
  height: 40px;
}
